.u-section-1 .u-sheet-1 {
  min-height: 1710px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 61px auto 0 94px;
}

.u-section-1 .u-text-3 {
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }
}